#home {
  position: relative;
  // background: url("../../assets/bgWhite.png");

  background: url("../../assets/bg01.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--white-color);

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6rem 2rem 0;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    // flex-direction: column;
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (max-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {
    background-color: var(--white-color);
    padding: 0.5rem 2rem;
    border: solid var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;

    box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 2rem;

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
      font-weight: 400;
    }
  }

  .badge-cmp{
    margin-top: 1rem;
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 900px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;
  // padding-left: 50rem;
  // width: 30%;

  div {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background: var(--white-color);
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }

  div:nth-child(1) {
    width: 90px;
    height: 90px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 120px;
    height: 120px;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }

  // HUGE SCREEN SIZE
  @media screen and (min-width: 2000px) {
    div:nth-child(1) {
      width: 140px;
      height: 140px;
    }

    div:nth-child(2) {
      margin: 1.75rem;
      width: 170px;
      height: 170px;
    }

    div:nth-child(3) {
      width: 100px;
      height: 100px;
    }
  }

  // TABLET SIZE
  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
    // display: none;
  }

  .overlay_circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    width: 100%;
    height: 95%;
  }

  //mobile screen
  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
