.app__footer {
  flex: 1;
  width: 80%;
  flex-direction: column;
}

.app__footer-cards {
  width: 60%;
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  flex-wrap: wrap-reverse;
  margin: 3rem 2rem 2rem;

  .app__footer-card {
    min-width: 230px;
    // min-width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 1.5rem;

    border-radius: 20px;
    cursor: pointer;
    background-color: var(--extra-color);

    transition: all 0.3s ease-in-out;

    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;
    }

    p {
      font-weight: 600;
    }

    a {
      text-decoration: none;
      font-weight: 500;
    }
    &:hover {
      box-shadow: 0 0 25px var(--extra-color);
    }

    // @media screen and (max-width: 450px) {
    //   width: 100%;
    // }
    // @media screen and (max-width: 768px) {
    //   width: 100%;
    // }
  }
}

// .app__footer-cards .app__footer-card:first-child {
//   background-color: #fef4f5;
// }

.app__footer-form {
  width: 60%;
  flex-direction: column;
  margin: 1rem 1rem;

  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--extra-color);
    transition: all 0.3s ease-in-out;

    input,
    textarea {
      width: 100%;
      border: none;
      border-radius: 7px;
      background-color: transparent;
      padding: 0.5rem;

      font-family: var(--font-base);
      color: var(--secondary-color);
      outline: none;
      // font-size:small;
      font-weight: 500;
    }

    textarea {
      height: 70px;
    }

    &:hover {
      box-shadow: 0 0 25px var(--extra-color);
    }

    @media screen and (min-width: 1200px) {
      width: 80%;
    }
  }

  button {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--secondary-color);
    font-weight: 500;
    color: var(--white-color);
    font-family: var(--font-base);
    cursor: pointer;
    margin: 1rem 0;
  }

  @media screen and (max-width: 768px) {
      width: 100%;
      margin: 1rem 0;
    }
}
